

@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
    background-color: #141414;
    margin: 0px;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    color:white;
    min-width:1024px;
    font-family: Georgia, serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 25px;
}

p {
	letter-spacing: 0.1em;
	margin-bottom:20px;
	margin-top: 0;
}

p a{
	text-decoration: none;
	font-style: italic;
	color:#fff;
	transition: color 0.15s;
}

p a:hover{
	color:#FFB637;
}

h1 {
	font-family: "Montserrat";
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

h2 {
	font-family: Palatino, Georgia, serif;
	font-style: italic;
	font-weight: lighter;
	color:#FFB637;
	font-size: 42px;
	letter-spacing: 0.1em;
	margin:0;
	margin-bottom: 35px;
	margin-top: 10px;
	display: inline-block;
	margin-right:5px;
}

hr.subline{
	display: inline-block;
	width:0;
	height:2px;
	border:none;
	background-color: #FFB637;
	vertical-align: text-bottom;
}

h3 {
	font-family: "Montserrat";
	font-size: 19px;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	margin-top:24px;
}

h4 {
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 0.05em;
}

ul {
	list-style: none;
}


#mainWrapper{
    position:absolute;
    width:100%;
    height:100%;
    margin:auto;
    padding:0;
}

#headerWrapper{
	width:100%;
	height:100.1%;
	position:absolute;
    z-index:2;
    pointer-events:none;
}

	#headerWrapper *:not(.transparent){
		pointer-events:auto;
	}

	div#navWrapper, div#logoWrapper{
		border-bottom:solid 1px rgba(255,255,255,0.2);
		position:relative;
		width:100%;
	}

	div#navWrapper {
		height:70px;
		position:relative;
	}

		div#navWrapper ul{
			position:absolute;
			margin:0;
			margin-top:25px;
		}

		div#navWrapper ul#pagesNav{
			width: 29%;
			padding-left:3.25%;
			padding-right:3.75%;
		}

		div#navWrapper ul#mapControls{
			right:4%;
		}

			div#navWrapper ul li, div#navWrapper ul a li{
				display:inline-block;
				margin-right:-3px;
				vertical-align: top;
				text-transform: uppercase;
				font-weight: normal;
				font-size: 15px;
				letter-spacing: 0.1em;
				cursor: pointer;
				opacity: 0.6;
				transition: opacity 0.15s;
				color:white;
			}

			div#navWrapper ul#pagesNav li{
				text-align: center;
				width:25%;
			}
			
				div#navWrapper ul li.focused, div#navWrapper ul li:hover:not(.inactive){
					opacity: 1;
				}

				div#navWrapper ul li.focused, div#navWrapper ul li.inactive{
					cursor: auto;
				}


			div#navWrapper ul#mapControls li{
				height:26px;
				width:26px;
				background-color: #fff;
			}

			div#navWrapper ul#mapControls li:first-child{
				margin-right:20px;
				width:auto;
				background-color: transparent;
			}

	div#logoWrapper {
		position:relative;
		height:120px;
	}

		div#logo {
			width: 25%;
			padding-left:5.5%;
			padding-right:5.5%;
			position:absolute;
		}

			div#logo h1{
				margin-top: 35px;
				margin-bottom: 0;
				text-align: center;
			}

			div#logo h4{
				margin: 0;
				margin-top: 5px;
				text-align: center;
			}



#fullPanelWrapper{
    width: 97%;
    height: auto;
	min-height:100%;
    background-color: rgba(4,0,26,0.75);
    z-index:1;
    position: absolute;
    opacity: 0;
}

/*	#fullPanelWrapper div.closeButton{
	    position:absolute;
	    right:-32px;
	    top:26px;
	    width:7px;
	    height:11px;
	    background-color: white;
	    border-radius:2px;
	    font-family: "Montserrat";
	    font-size: 18px;
	    color: rgba(4,0,26,0.75);
	    padding:0px 10px 13px 7px;
	    cursor:pointer;
	}*/

	#fullPanelWrapper div.page{
		width:100%;
		height:auto;
		min-height:100%;
		opacity: 1;
	}

		div#dataWrapper div#data{
			width: 90%;
			padding:190px 6.5% 0 6%;
			margin-left:-2.5%;
			height:auto;
			border-bottom: 1px solid rgba(255,255,255,0.2);
		} 

			div#data div.column{
				display:inline-block;
				vertical-align: top;
				width:28.6%;
				height:auto;
				padding:55px 2.5% 2.5%;
				border-right: 1px solid rgba(255,255,255,0.2);
			} 
			
			div#data div.column:first-child{
				height: auto;
			} 

			div#data div.column:nth-child(2){
				width:21.5%;
			} 

			div#data div.column:last-child{
				width:36.5%;
				padding-right: 0;
				border-right: none;
			} 

			div#data div.column h3{
				margin-top:0;
				margin-bottom:44px;
			} 

				div#data div.column:nth-child(2) h3{
					padding-top:0;
					padding-bottom:12px;
				} 

				div#data p.counter{
					margin-bottom: 20px;
				}

					div#data p:last-child span:first-child, div#data p:nth-child(2) span:last-child{
						vertical-align: top;
						display: inline-block;
						border-bottom: 1px solid rgba(255,255,255,0.2);
					} 

					div#data p:last-child span:last-child, div#data p:nth-child(2) span:first-child{
						font-family: Palatino, Georgia, serif;
						font-style: italic;
						font-weight: lighter;
						color:#FFB637;
						font-size: 42px;
					} 

		div#graphWrapper{
			width: 89%;
			padding: 45px 5.5% 0 5.5%;
			margin:0;
			height:auto;
		} 

			div#graphWrapper div.graph{
				height:115px;
				padding-left: 3.25%;
				width:96.75%;
				border-bottom: 1px solid rgba(255,255,255,0.2);
			}

			div#graphWrapper div.graph:first-child{
				height:50px;
			}

				div#scale svg{
					height:100%;
					display: inline-block;
					vertical-align: top;
				}


					div#scale svg.labels{
						width:6.5%;
					}

					div#scale svg.graph{
						width:93.5%;
					}

		div#timelineWrapper{
			width: 89%;
			height:32px;
			padding:0 5.5% 0 5.5%;
			border-bottom: 1px solid rgba(255,255,255,0.2);
		} 

			div#timelineWrapper div#timeline{
				width: 100%;
				height:32px;
				border-left: 1px solid rgba(255,255,255,0.2);
				border-right: 1px solid rgba(255,255,255,0.2);
			} 

					div#timeline svg{
						width:100%;
						height:100%;
					} 


		div#aboutWrapper{
			width:100%;
			height:auto;
			position: relative;
			padding-top:70px;
			border-bottom:solid 1px rgba(255,255,255,0.2);
		} 

			div#aboutWrapper div#about{
				display: inline-block;
				margin-left:-2px;
				vertical-align: top;
				margin-top: 120px;
				width: 26%;
				padding:4% 6% 2% 6%;
			} 

				div#aboutWrapper div#about span{
					width:3px;
					height:13px;
					background-color:#FFB637;
					display: inline-block;
					margin-left:10px; 
					margin-right:10px; 
					vertical-align: middle;
				} 

		div#aboutWrapper div#video{
			display: inline-block;
			margin-left:-1px;
			margin-top:122px;
			vertical-align: top;
			width:62%;
			padding:0;
			cursor:pointer;
			background-color: black;
			height:auto;
		} 

			div#aboutWrapper div#video svg.playButton{
				z-index:60;
				left:45.5%;
				top:45.5%;
				position:absolute;
			} 

			/* hacking youtube poster image */
			#video { position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0; }
			#video img.poster { position: absolute; display: block; top: 0; left: 0; width: 100%; z-index: 50; cursor: pointer; }
			#video:after { content: ""; position: absolute; display: block; top: 45%; left: 45%; width: 46px; height: 36px; z-index: 30; cursor: pointer; } 
			#video iframe { position: absolute; top: 0; left: 0; width: 100%; }
			#video.player:after { display: none; }

		div#teamWrapper{
			height:auto;
			position: relative;
			width:91.5%;
			padding: 40px 5.75% 40px 2.75%;
		}

			div#teamWrapper h2{
				margin:20px 0 40px 3%;
			} 

		div#teamWrapper div.column{
			width:22%;
			display: inline-block;
			vertical-align: top;
			margin-right: -3px;
			margin-left:3%;
		} 

			div#teamWrapper div.column hr{
				border:none;
				height:1px;
				background-color: rgba(255,255,255,0.2);
				margin-bottom: 40px;
				margin-top: 30px;
				display:block;				
			} 

				div#teamWrapper div.column div.teammate img{
					display: block;
					width:100%;
				} 

				#fullPanelWrapper div.twitter, #fullPanelWrapper div.website, #fullPanelWrapper div.locationFinder{
					float:right;
					width:20px;				
					height:20px;
					background-color: rgba(255,255,255,0.25);
					margin-top:25px;
					border-radius:2px;
					transition: background-color 0.15s;
					margin-left:5px;
					background-size: 16px 16px;
					background-repeat: no-repeat;
					background-position:center; 
					cursor: pointer;
				} 

	#fullPanelWrapper div.twitter{
		background-image: url('../img/twitter.svg')
	}
	#fullPanelWrapper div.website{
		background-image: url('../img/website.svg')
	}

	#fullPanelWrapper div.locationFinder{
		background-image: url('../img/geoloc.svg')
	}

	#fullPanelWrapper div.twitter:hover, #fullPanelWrapper div.website:hover, #fullPanelWrapper div.locationFinder:hover{
		background-color: #FFB637;				
	}

	#fullPanelWrapper div.footer{
		margin-top: 10px;
		margin-bottom: 30px;
		width:88.5%;
		padding: 30px 5.75% 40px 5.75%;
	}

	#fullPanelWrapper div.footer hr{
		display: inline-block;
		vertical-align: center;
		width:48%;
		height:2px;
		background-color: #FFB637;
		margin-right: -3px;
		border: none;
	}

	#fullPanelWrapper div.footer div.marker{
		display: inline-block;
		vertical-align: center;
		width:4%;
		margin-right: -3px;
		text-align: center;
	}

	div#twitterWrapper{
		width:27.5%;
		padding: 45px 5.5% 45px 5.5%;
		height:auto;
		margin:192px 0 0 61.5%;
	}

		div#twitterWrapper div.tweet{
			width:100%;
			height:auto;
			margin-bottom:5px;
		}

			div#twitterWrapper div.tweet div.body{
				cursor:pointer;
			}

			div#twitterWrapper div.tweet p.meta{
				font-family: "Montserrat";
				font-size: 13px;
				color: #fff;
				letter-spacing: 1px;
			}

				div#twitterWrapper div.tweet p.meta span{
					display: inline-block;
					width:5px;
					height:5px;
					border-radius: 3px;
					background-color: white;
					margin:0 10px 0 10px;
				}

				div#twitterWrapper div.tweet div{
					margin-top:4px;
				}

			div#twitterWrapper div.tweet img.profile{
				display: inline-block;
				vertical-align: top;
				height:38px;
				margin-right:7%;
				padding-top:5px;
			}

			div#twitterWrapper div.tweet p.message{
				display: inline-block;
				vertical-align: top;
				font-family: Georgia;
				font-style: italic;
				font-size: 15px;
				color: #fff;
				line-height: 25px;
				letter-spacing: 0.1em;
				width:82%;
			}

			div#twitterWrapper div.tweet:hover div.locationFinder{
				background-color: #FFB637;
			}

			div#twitterWrapper div.tweet hr.innerSeparator{
				border:none;
				height:1px;
				background-color: rgba(255,255,255,0.2);
				margin-bottom: 12px;
				margin-top: 2px;
				display:block;
			}

			div#twitterWrapper div.tweet hr.outerSeparator{
				width:100%;
				height:2px;
				background-color: #FFB637;
				border: none;
				margin:35px 0 35px 0;
			}

#map_holder{
	width:100%;
	height:100%;
	position:fixed;
    z-index:0;
}

	#map_holder #map{
		width:100%;
		height:100%;
		position:relative;
	}

	#map_holder #tweetsButton{
		position:absolute;
		width:100px;
		top:25px;
		right:11.4%;
		font-weight: normal;
		font-size: 15px;
		letter-spacing: 0.1em;
		cursor: pointer;
		opacity: 0;
		transition: opacity 0.15s;
		transition: background-color 0.15s;
		color:white;
		text-transform: uppercase;
		display:none;
		padding: 1px 10px;
		border-radius:2px;
		background-color: rgb(255,255,255);

	}

		#map_holder #tweetsButton:hover{
			background-color: rgb(220,220,220);

		}

#skip {
	font: 14px Verdana, Helvetica, sans-serif; 
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: 8px;
	margin-left: -15px;
}
#skip a{
	color:white;
}


#credits{
	position:fixed;
	bottom:30px;
	left:5.5%;
}
#credits a{
	margin-right: 20px;
}

#credits a img{
	height:40px;
	opacity: 0.5;
}


#map div.leaflet-control-container div.leaflet-top:nth-child(2){
	right:3.8%;
	top:25px;
}

div.leaflet-popup-content-wrapper{
	background-color:rgba(4,0,26,0.75);
	border-radius:2px
}

a.leaflet-popup-close-button{
	padding:12px 12px 0 0;
}

div.leaflet-popup-content h1{
	font-family: Georgia;
	font-style: italic;
	font-size: 15px;
	color: #fff;
	line-height: 29px;
	letter-spacing: 0.1em;
}

div.leaflet-popup-content{
	font-family: Georgia;
	font-style: italic;
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 13px;
	color:white;
	line-height: 1.6em;
	letter-spacing: 0.1em;
	margin:19px;
}

div.leaflet-label{
	background-color:rgba(4,0,26,0.75);
	border-color: rgba(4,0,26,0.75);
	border-radius: 2px;
	font-family: Georgia;
	font-style: italic;
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 13px;
	color:white;
}

div.leaflet-popup-tip{
	background-color: rgba(4,0,26,0.75);
}

div.leaflet-control, div.leaflet-control a{
	display: inline-block;
	vertical-align: top;
	margin:0;
	margin-top:0 !important;
	margin-right:0 !important;
	clear:none;
	height:26px !important;
	box-shadow:none !important;
}

div.leaflet-control-zoom{
	margin-right:15px !important;
}

div.leaflet-control a:first-child{
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
}

div.leaflet-control a:last-child{
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}

a.leaflet-control-zoom-fullscreen{
	border-top-left-radius:2px !important;
	border-bottom-left-radius:2px !important;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
}

div.leaflet-control:hover, div.leaflet-control a:hover{
	display: inline-block;
	vertical-align: top;
	margin-right:-2px;
	clear:none;
	margin:0;
	margin-top:0;
	margin-right:0;
}

svg.closeButton{
	display: block;
	position:absolute;
	right:24px;
	top:24px;
	opacity: 0.6;
	transition: opacity 0.15s;
	cursor: pointer;
}

	svg.closeButton:hover{
		opacity: 1;
	}

div.leaflet-bottom.leaflet-right{
	bottom:25px;
	right:3.8%;
	opacity: 0.5;
}

div.leaflet-control-attribution.leaflet-control{
	background-color: transparent !important;
	color:white !important;
}

div.leaflet-control-attribution.leaflet-control a{
	color:white !important;
}
