html {
    height: 100%;
    margin: 50px;
}

body {
    height: 100%;
    font: 14px Verdana, Helvetica, sans-serif; 
    color: #CCCCCC;        
    background-color: #50545F;
}       

div {
    position: relative;
}

a {
   text-decoration: none;
   font-weight: normal;
   color: #EEE;
   background-color: #777;
   padding: 2px;
}

a:hover {
    color: white;
    background-color: #333;
    border: none;
}

a:hover img {
    opacity: 0.85;
}

hr {
    border: none;
    border-bottom: 1px solid #eee;
}

#main {
    width: 720px;
    margin: auto;
    /*background-color: #ccf;*/
    padding: 10px;
}

