html {
    height: 100%;
    margin: 50px;
}

body {
    height: 100%;
    font: 18px Verdana, Helvetica, sans-serif; 
    color: #333;        
    background-color: white;
    line-height: 24px;
    word-spacing: 0.33em;
}       

div {
    position: relative;
}

a {
   text-decoration: none;
   font-weight: normal;
   color: #333;
   background-color: #ccc;
   padding: 2px;
}

a:hover {
    color: white;
    background-color: #333;
    border: none;
}

a:hover img {
    opacity: 0.85;
}

hr {
    border: none;
    border-bottom: 1px solid #eee;
}

#main {
    width: 720px;
    margin: auto;
    /*background-color: #ccf;*/
    padding: 10px;
}

