{% extends "page.html" %}

{% block body %}

<h3>Welcome to the Digital Bushman API.</h3>
<p>
We are providing open access to all of the data recorded during the 18 day expedition in the Okavango Delta. 
</p>
	
<p>
	There are 6 content types available: 'ambit', 'sighting', 'breadcrumb', 'image', 'audio', 'beacon'
	Each of these content types returns a data file in GeoJSON format. The structure of a call to the API is always the same:

	http://digitalbushman.org/api/timeline?date=YYYYMMDD&types=TYPE

	To request multiple days, you can append a 'days' parameter:

	http://digitalbushman.org/api/timeline?date=YYYYMMDD&types=TYPE&days=#

	For example, to get all of the animan sightings within two days of September 7th:

	<a href="/api/timeline?date=20130907&types=sighting&days=2">/api/timeline?date=20130908&amp;types=sighting&amp;days=2</a>


</p>

<p><a href="/api/timeline?date=20130908&types=ambit">/api/timeline?date=20130908&amp;types=ambit</a></p>

<p><a href="/api/timeline?date=20130908&types=sighting">/api/timeline?date=20130908&amp;types=sighting</a></p>

<p><a href="/api/timeline?date=20130908&types=breadcrumb">/api/timeline?date=20130908&amp;types=breadcrumb</a></p>

<p><a href="/api/timeline?date=20130908&types=image">/api/timeline?date=20130908&amp;types=image</a></p>

<p><a href="/api/timeline?date=20130908&types=audio">/api/timeline?date=20130908&amp;types=audio</a></p>

<p><a href="/api/timeline?date=20130908&types=beacon">/api/timeline?date=20130908&amp;types=beacon</a></p>


{% endblock body %}