{% extends "page.html" %}

{% block body %}

<h2>Welcome to the API!</h2>

<p>ContentTypes: 'ambit', 'sighting', 'breadcrumb', 'image', 'audio', 'beacon'</p>

<p><a href="/timeline?date=20130827&types=ambit">/timeline?date=20130827&amp;types=ambit</a></p>

<p><a href="/timeline?date=20130816&types=sighting">/timeline?date=20130816&amp;types=sighting</a></p>

<p><a href="/timeline?date=20130903&types=breadcrumb">/timeline?date=20130903&amp;types=breadcrumb</a></p>

<p><a href="/timeline?date=20130818&types=image">/timeline?date=20130818&amp;types=image</a></p>

<p><a href="/timeline?date=20130903&types=audio">/timeline?date=20130903&amp;types=audio</a></p>

<p><a href="/timeline?date=20130802&types=beacon">/timeline?date=20130802&amp;types=beacon</a></p>


{% endblock body %}