{% extends "page.html" %}
{% block title %}Digital Bushman : Heartrate{% endblock title %}

{% block body %}

<div id="imagediv"></div>

<script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script language="Javascript" type="text/javascript" src="/static/js/simplify.js"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script type="text/javascript">
	console.log('fetching images');
	$.getJSON('/api/timeline?date=20130907&types=ambit&days=100', function(data) {
		console.log(data);

		var heartLines = [];
		
		for (var i = 0; i < data.features.length; i++) {
			var f = data.features[i];	
			var n = f.properties.Person;
			if (heartLines[n] == undefined) heartLines[n] = [];
			heartLines[n].push({"x":f.properties.t_utc, "y":f.properties.HR});		
		}

		for (var n in heartLines) {
			console.log(n);
			console.log(heartLines[n].length);
			heartLines[n] = simplify(heartLines[n], 0.1, false);
			console.log(heartLines[n].length);
		}

		var margin = {top: 20, right: 20, bottom: 30, left: 50},
		    width = 960 - margin.left - margin.right,
		    height = 500 - margin.top - margin.bottom;

		var x = d3.time.scale()
		    .range([0, width]);

		var y = d3.scale.linear()
		    .range([height, 0]);

		var xAxis = d3.svg.axis()
		    .scale(x)
		    .orient("bottom");

		var yAxis = d3.svg.axis()
		    .scale(y)
		    .orient("left");

		var line = d3.svg.line()
		    .x(function(d) { return x(d.x); })
		    .y(function(d) { return y(d.y); });
		
		var svg = d3.select("body").append("svg")
		    .attr("width", width + margin.left + margin.right)
		    .attr("height", height + margin.top + margin.bottom)
		  .append("g")
		    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	});
</script>

{% endblock body %}