{% extends "page.html" %}
{% block title %}Digital Bushman : Heartrate{% endblock title %}

{% block body %}

<div id="imagediv"></div>

<script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script language="Javascript" type="text/javascript" src="/static/js/simplify.js"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script type="text/javascript">
	console.log('fetching images');
	$.getJSON('/api/timeline?date=20130907&types=ambit&days=100', function(data) {
		console.log(data);

		var heartLines = [];
		
		for (var i = 0; i < data.features.length; i++) {
			var f = data.features[i];	
			var n = f.properties.Person;
			if (heartLines[n] == undefined) heartLines[n] = [];
			heartLines[n].push({"x":f.properties.t_utc, "y":f.properties.HR});		
		}

		for (var n in heartLines) {
			heartLines[n] = simplify(heartLines[n], 0.1, false);
			console.log(heartLines[n]);
		}

		var width = 1200;
		var height = 600;
		var margin = 20;

		var names = ["Steve", "John", "GB"];

		for (var i = 0; i < names.length; i++) {

			var n = names[i];

			var st = heartLines[n][0].x;
			var et = heartLines[n][heartLines[n].length - 1].x;
			var y = d3.scale.linear().domain([0,5]).range([0 + margin, height - margin]);
			var x = d3.scale.linear().domain([st, et]).range([0 + margin, width - margin]);

			var vis = d3.select("body")
			    .append("svg:svg" + i)
			    .attr("width", width)
			    .attr("height", height)
			 
			var g = vis.append("svg:g")
			    .attr("transform", "translate(0, " + (600 * i) + ")");

			var line = d3.svg.line()
			    .x(function(d) { return x(d.x); })
			    .y(function(d) { return -1 * y(d.y); })

			g.append("svg:path").attr("d", line(heartLines[n]));
		}

	});
</script>

{% endblock body %}