<!DOCTYPE html>
<html>
  <head>
    <title>The Digital Bushman: Into the Okavango</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="/static/css/leaflet.css" />
    <script src="/static/js/leaflet.js"></script>
	
	<script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	 <style type="text/css">
		
		iframe { 
			vertical-align: top;
		}
		
		#map_holder{
			position: fixed;
			top: 0px;
			left: 0px;
			width:100%; 
			height:100%;
			z-index: 0;
		}
		
		#map{
			width:100%;
			height:100%; 
			position: "absolute"; 
			top: 0px; 
			left: 0px; 
			overflow: "hidden";
		}
		
		
		a{
			color: white;
		}
      }
    </style>
  	
	

  </head>
  <body>

	
	<!--Google Maps APIv3 Background-->
	<div id="map_holder">
		<div id="map"></div>
	</div><!-- End Google Maps Background -->

	<script type="text/javascript">
	  	// create a map in the "map" div, set the view to a given place and zoom
		var map = L.map('map').setView([-19.2571, 22.6560], 5);
		map.zoomAnimationThreshold = 20;

		// add an OpenStreetMap tile layer
		L.tileLayer('http://a.tiles.mapbox.com/v3/brianhouse.map-oxn5wd2a/{z}/{x}/{y}.png', {
		    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);


		// load breadcrumb data
		var geojsonMarkerOptions = {
		    radius: 4,
		    fillColor: "#ff7800",
		    color: "#000",
		    weight: 1,
		    opacity: 0,
		    fillOpacity: 0.8,
		};


		var lastPoint;
		var markers = [];

		var d = new Date();

		$.getJSON('/api/timeline?date=20130907&types=beacon&days=100', function(data) {
		  L.geoJson(data.features, {
		    filter: function(feature, layer) {
		    	//Filter out 0,0 points
		        return (feature.geometry.coordinates[0] != 0);
		    },
		    pointToLayer: function (feature, latlng) {
		        var marker = L.circleMarker(latlng, geojsonMarkerOptions);
		        markers.push(marker);
		        return marker;
		    },
		    style: function(feature) {
		    	//Here we can apply styling to markers depending on properties. Cool.
		    	var c = Math.floor(feature.properties["Speed"] * 4);
		        return {fillColor: "#FFFFFF"};
		    }
			}).addTo(map);
		    map.panTo(markers[markers.length - 1].getLatLng());
		});

		function zoomIn() {
			console.log("zoom");
			map.zoomIn(3);
			
			if (map.getZoom() < 13) {
				setTimeout(zoomIn, 5000);
			} else {
				var lm = markers[markers.length - 1];
				L.marker(lm.getLatLng()).addTo(map)
			    .bindPopup('This is the last reported position of the expedition.')
			    .openPopup();
			}
		}


		setTimeout(zoomIn, 5000)


					
	</script>
	
</body>
</html>